{% extends "base.html" %}
{% load static%}
{% block content %}

<link rel="stylesheet" href="{% static 'css/password_reset.css' %}">

<div class="reset-container">
    <h2 class="reset-title">Forgot Password</h2>
    <p class="reset-subtext">Enter your email address below and we’ll send you a link to reset your password.</p>

    <form method="post" class="reset-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="reset-btn">Send Reset Email</button>
    </form>
</div>

{% endblock %}
